

body {
	background-color: #000000;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 3rem 0;
  }

  .social-icons a {
    font-size: 1.25rem;
  }

  .carousel-item img {
    height: 400px;
    object-fit: cover;
}
